/PagerSlidingTabStrip/gen
/PagerSlidingTabStrip/bin
/PinterestLikeAdapterView/bin
/PinterestLikeAdapterView/gen
/.gradle
/.idea
build
*.iml
local.properties
*.DS_Store
gradle.properties
/gradle
*.apk
projectFilesBackup/
nga_phone_base_3.0/release/
