/Test
/TestSoLibrary
/.metadata
/GetAppSignature
/MainActivity
/RemoteSystemsTempFiles
/Android-Universal-Image-Loader-Library/bin
/Android-Universal-Image-Loader-Library/gen
/PagerSlidingTabStrip/gen
/PagerSlidingTabStrip/bin
/PinterestLikeAdapterView/bin
/PinterestLikeAdapterView/gen
/.gradle
/.idea
build
*.iml
local.properties
*.DS_Store
gradle.properties
local.properties