<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noname">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".activity.FlexibleNonameTopicListActivity"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".activity.NonameArticleListActivity"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".activity.NonamePostActivity"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>
