body{
    font-size: 12px;
    border-spacing: 1px;
}
.silver {
    color: #888;
    font-size: 1.17em;
    font-weight: bold;
    border-bottom: 1px solid #AAA;
    clear: both;
    margin-bottom: 0px;
}
.b {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #551200;
}
table {
	border-spacing: 0px;
}
td {
	padding:2px;
}
.red {
    color: #D00;
}