<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="gov.anzong.androidnga" android:versionCode="2029"
	android:largeHeap="true" android:configChanges="orientation|screenSize" 
	android:versionName="2.0.29" android:installLocation="auto">
	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.NFC" />
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-feature android:required="false" android:name="android.hardware.LOCATION" android:glEsVersion="0x00020000"/>
	<uses-feature android:required="false" android:name="android.hardware.location.GPS" android:glEsVersion="0x00020000"/>
	
	<application android:name=".activity.MyApp" android:label="@string/app_name" android:icon="@drawable/nga_bg"
                 android:anyDensity="false" android:hardwareAccelerated="false"
                 android:theme="@android:style/Theme.Holo.Light">
		<activity
            android:name=".activity.Media_Player"
            android:label="Media/MediaPlayer"
            android:configChanges="orientation|keyboardHidden" 
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
         <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.MainActivity" android:label="@string/app_name"
                  android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".activity.LoginActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:name=".activity.MeiziLoginActivity" android:theme="@style/SwipeBackTheme"/>
		
		<activity android:name=".activity.FlexibleProfileActivity" android:theme="@style/SwipeBackTheme"/>

		<activity android:windowSoftInputMode="adjustResize" android:name=".activity.PostActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:windowSoftInputMode="adjustResize" android:name=".activity.AvatarPostActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:windowSoftInputMode="adjustResize" android:name=".activity.SignPostActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:windowSoftInputMode="adjustResize" android:name=".activity.NonamePostActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:windowSoftInputMode="adjustResize" android:name=".activity.MessagePostActivity" android:theme="@style/SwipeBackTheme"/>


		<activity android:name=".activity.SettingsActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:name=".activity.BookmarkActivity" android:theme="@style/SwipeBackTheme"/>
		
		<activity android:name=".activity.FlexibleSignActivity" android:theme="@style/SwipeBackTheme"/>
        
		<activity android:name=".activity.FlexibleMessageListActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:name=".activity.FlexibleNonameTopicListActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:name=".activity.MessageDetialActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:name=".activity.NonameArticleListActivity" android:theme="@style/SwipeBackTheme"/>
		
		<activity android:name=".activity.FlexibleTopicListActivity" android:exported="true" android:theme="@style/SwipeBackTheme">
		   
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" /> 
		        <category android:name="android.intent.category.DEFAULT" /> 
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="@string/myscheme" android:host="bbs.ngacn.cc" android:path="/thread.php"/>
			</intent-filter>
			<intent-filter>
		        <action android:name="android.intent.action.VIEW" /> 
		        <category android:name="android.intent.category.DEFAULT" /> 
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="@string/myscheme" android:host="nga.178.com" android:path="/thread.php"/>
			</intent-filter>
			 
			<intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="@string/myscheme" android:host="bbs.ngacn.cc" android:path="/thread.php"/>
            </intent-filter>
            
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" /> 
		        <category android:name="android.intent.category.DEFAULT" /> 
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="bbs.ngacn.cc" android:path="/thread.php"/>
			</intent-filter>
			<intent-filter>
		        <action android:name="android.intent.action.VIEW" /> 
		        <category android:name="android.intent.category.DEFAULT" /> 
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="nga.178.com" android:path="/thread.php"/>
			</intent-filter>
			 
			<intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="bbs.ngacn.cc" android:path="/thread.php"/>
			</intent-filter>
			<intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="nga.178.com" android:path="/thread.php"/>
            </intent-filter>
		</activity>
		<activity android:name=".activity.ArticleListActivity" android:exported="true" android:theme="@style/SwipeBackTheme" android:multiprocess="true">
			<intent-filter>
		        <action android:name="android.intent.action.VIEW" /> 
		        <category android:name="android.intent.category.DEFAULT" /> 
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="@string/myscheme" android:host="nga.178.com" android:path="/read.php"/>
			</intent-filter>
			<intent-filter>
		        <action android:name="android.intent.action.VIEW" /> 
		        <category android:name="android.intent.category.DEFAULT" /> 
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="@string/myscheme" android:host="bbs.ngacn.cc" android:path="/read.php"/>
			</intent-filter>
			<intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="@string/myscheme" android:host="bbs.ngacn.cc" android:path="/read.php"/>
            </intent-filter>
			<intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="@string/myscheme" android:host="nga.178.com" android:path="/read.php"/>
            </intent-filter>
            <!-- 在系统中注册NGA地址 -->
            
			<intent-filter>
		        <action android:name="android.intent.action.VIEW" /> 
		        <category android:name="android.intent.category.DEFAULT" /> 
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="nga.178.com" android:path="/read.php"/>
			</intent-filter>
			<intent-filter>
		        <action android:name="android.intent.action.VIEW" /> 
		        <category android:name="android.intent.category.DEFAULT" /> 
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="bbs.ngacn.cc" android:path="/read.php"/>
			</intent-filter>
			<intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" android:host="bbs.ngacn.cc" android:path="/read.php"/>
            </intent-filter>
			<intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" android:host="nga.178.com" android:path="/read.php"/>
            </intent-filter>
		    
		</activity>
		<activity android:name=".activity.ImageViewerActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:name=".activity.NearbyUserActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:name=".activity.ReplyListActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:name=".activity.RecentReplyListActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:name=".activity.SplitRecentReplyListActivity" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow"/>
		<activity android:name=".activity.SplitFlexibleTopicListActivity" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow"/>
		<activity android:name=".activity.SplitFlexibleMessageListActivity" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow"/>
		<activity android:name=".activity.SplitFlexibleNonameTopicListActivity" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow"/>
		
		<activity android:name=".activity.SplitFlexibleSignActivity" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow"/>
		<activity android:name=".activity.SplitFlexibleProfileActivity" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow"/>
		
		<activity android:hardwareAccelerated="true" android:name=".activity.HaFlexibleTopicListActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:name=".activity.HaFlexibleMessageListActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:name=".activity.HaFlexibleNonameTopicListActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:name=".activity.HaFlexibleSignActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:name=".activity.HaFlexibleProfileActivity" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.HaSplitFlexibleTopicListActivity"/>
		<activity android:hardwareAccelerated="true" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.HaSplitFlexibleMessageListActivity"/>
		<activity android:hardwareAccelerated="true" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.HaSplitFlexibleNonameTopicListActivity"/>
		
		<activity android:hardwareAccelerated="true" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.HaSplitFlexibleSignActivity"/>
		<activity android:hardwareAccelerated="true" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.HaSplitFlexibleProfileActivity"/>
		
		<activity android:name=".activity.SplitPostActivity" android:windowSoftInputMode="stateVisible|adjustResize" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow"/>
		<activity android:name=".activity.SplitSignPostActivity" android:windowSoftInputMode="stateVisible|adjustResize" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow"/>
		<activity android:name=".activity.SplitNonamePostActivity" android:windowSoftInputMode="stateVisible|adjustResize" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow"/>
		<activity android:name=".activity.SplitMessagePostActivity" android:windowSoftInputMode="stateVisible|adjustResize" android:theme="@style/SwipeBackTheme" android:uiOptions="splitActionBarWhenNarrow"/>
		
		<activity android:hardwareAccelerated="true" android:name=".activity.HaPostActivity" android:windowSoftInputMode="stateVisible|adjustResize" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:name=".activity.HaSignPostActivity" android:windowSoftInputMode="stateVisible|adjustResize" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:name=".activity.HaNonamePostActivity" android:windowSoftInputMode="stateVisible|adjustResize" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:name=".activity.HaMessagePostActivity" android:windowSoftInputMode="stateVisible|adjustResize" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:theme="@style/SwipeBackTheme" android:windowSoftInputMode="stateVisible|adjustResize" android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.HaSplitPostActivity"/>
		<activity android:hardwareAccelerated="true" android:theme="@style/SwipeBackTheme" android:windowSoftInputMode="stateVisible|adjustResize" android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.HaSplitSignPostActivity"/>
		<activity android:hardwareAccelerated="true" android:theme="@style/SwipeBackTheme" android:windowSoftInputMode="stateVisible|adjustResize" android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.HaSplitNonamePostActivity"/>
		<activity android:hardwareAccelerated="true" android:theme="@style/SwipeBackTheme" android:windowSoftInputMode="stateVisible|adjustResize" android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.HaSplitMessagePostActivity"/>
		<activity android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.SplitArticleListActivity" android:multiprocess="true" android:theme="@style/SwipeBackTheme"/>
		<activity android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.SplitNonameArticleListActivity" android:multiprocess="true" android:theme="@style/SwipeBackTheme"/>
		<activity android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.SplitMessageDetialActivity" android:multiprocess="true" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:name=".activity.HaArticleListActivity" android:multiprocess="true" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:name=".activity.HaNonameArticleListActivity" android:multiprocess="true" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:name=".activity.HaMessageDetialActivity" android:multiprocess="true" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.HaSplitArticleListActivity" android:multiprocess="true" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.HaSplitNonameArticleListActivity" android:multiprocess="true" android:theme="@style/SwipeBackTheme"/>
		<activity android:hardwareAccelerated="true" android:uiOptions="splitActionBarWhenNarrow" android:name=".activity.HaSplitMessageDetialActivity" android:multiprocess="true" android:theme="@style/SwipeBackTheme"/>
	
	
	
        <activity
            android:name=".activity.MeiziMainActivity"
            android:label="@string/app_dbmeizi"
        	android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".activity.SplitMeiziMainActivity"
            android:label="@string/app_dbmeizi" 
            android:uiOptions="splitActionBarWhenNarrow"
        	android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".activity.MeiziTopicActivity"
            android:label="@string/app_dbmeizi"
        	android:theme="@style/SwipeBackTheme" >
        </activity>
	
        <activity
            android:name=".activity.SplitMeiziTopicActivity"
            android:label="@string/app_dbmeizi"
            android:uiOptions="splitActionBarWhenNarrow"
        	android:theme="@style/SwipeBackTheme" >
        </activity>
	
	</application>

</manifest> 