<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.anzong.androidnga"
    android:configChanges="orientation|screenSize"
    android:installLocation="auto"
    android:largeHeap="true"
    android:versionCode="2034"
    android:versionName="2.0.34" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.LOCATION"
        android:glEsVersion="0x00020000"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.GPS"
        android:glEsVersion="0x00020000"
        android:required="false" />

    <application
        android:name=".activity.MyApp"
        android:anyDensity="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/nga_bg"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.MeiziLoginActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.FlexibleProfileActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.PostActivity"
            android:theme="@style/SwipeBackTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.AvatarPostActivity"
            android:theme="@style/SwipeBackTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SignPostActivity"
            android:theme="@style/SwipeBackTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.NonamePostActivity"
            android:theme="@style/SwipeBackTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MessagePostActivity"
            android:theme="@style/SwipeBackTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.BookmarkActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.FlexibleSignActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.FlexibleMessageListActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.FlexibleNonameTopicListActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.MessageDetialActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.NonameArticleListActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.FlexibleTopicListActivity"
            android:exported="true"
            android:theme="@style/SwipeBackTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bbs.ngacn.cc"
                    android:path="/thread.php"
                    android:scheme="@string/myscheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="nga.178.com"
                    android:path="/thread.php"
                    android:scheme="@string/myscheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="bbs.ngacn.cc"
                    android:path="/thread.php"
                    android:scheme="@string/myscheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bbs.ngacn.cc"
                    android:path="/thread.php"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="nga.178.com"
                    android:path="/thread.php"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bbs.ngacn.cc"
                    android:path="/thread.php"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="nga.178.com"
                    android:path="/thread.php"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ArticleListActivity"
            android:exported="true"
            android:multiprocess="true"
            android:theme="@style/SwipeBackTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="nga.178.com"
                    android:path="/read.php"
                    android:scheme="@string/myscheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bbs.ngacn.cc"
                    android:path="/read.php"
                    android:scheme="@string/myscheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="bbs.ngacn.cc"
                    android:path="/read.php"
                    android:scheme="@string/myscheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="nga.178.com"
                    android:path="/read.php"
                    android:scheme="@string/myscheme" />
            </intent-filter>
            <!-- 在系统中注册NGA地址 -->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="nga.178.com"
                    android:path="/read.php"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bbs.ngacn.cc"
                    android:path="/read.php"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="bbs.ngacn.cc"
                    android:path="/read.php"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="nga.178.com"
                    android:path="/read.php"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ImageViewerActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.WebViewerActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.NearbyUserActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.ReplyListActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.RecentReplyListActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.SplitRecentReplyListActivity"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.SplitFlexibleTopicListActivity"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.SplitFlexibleMessageListActivity"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.SplitFlexibleNonameTopicListActivity"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.SplitFlexibleSignActivity"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.SplitFlexibleProfileActivity"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.HaFlexibleTopicListActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.HaFlexibleMessageListActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.HaFlexibleNonameTopicListActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.HaFlexibleSignActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.HaFlexibleProfileActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.HaSplitFlexibleTopicListActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.HaSplitFlexibleMessageListActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.HaSplitFlexibleNonameTopicListActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.HaSplitFlexibleSignActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.HaSplitFlexibleProfileActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.SplitPostActivity"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.SplitSignPostActivity"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.SplitNonamePostActivity"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.SplitMessagePostActivity"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.HaPostActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.HaSignPostActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.HaNonamePostActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.HaMessagePostActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.HaSplitPostActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.HaSplitSignPostActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.HaSplitNonamePostActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.HaSplitMessagePostActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.SplitArticleListActivity"
            android:multiprocess="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.SplitNonameArticleListActivity"
            android:multiprocess="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.SplitMessageDetialActivity"
            android:multiprocess="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.HaArticleListActivity"
            android:hardwareAccelerated="true"
            android:multiprocess="true"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.HaNonameArticleListActivity"
            android:hardwareAccelerated="true"
            android:multiprocess="true"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.HaMessageDetialActivity"
            android:hardwareAccelerated="true"
            android:multiprocess="true"
            android:theme="@style/SwipeBackTheme" />
        <activity
            android:name=".activity.HaSplitArticleListActivity"
            android:hardwareAccelerated="true"
            android:multiprocess="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.HaSplitNonameArticleListActivity"
            android:hardwareAccelerated="true"
            android:multiprocess="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.HaSplitMessageDetialActivity"
            android:hardwareAccelerated="true"
            android:multiprocess="true"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.MeiziMainActivity"
            android:label="@string/app_dbmeizi"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".activity.SplitMeiziMainActivity"
            android:label="@string/app_dbmeizi"
            android:theme="@style/AppTheme"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".activity.MeiziTopicActivity"
            android:label="@string/app_dbmeizi"
            android:theme="@style/SwipeBackTheme" >
        </activity>
        <activity
            android:name=".activity.SplitMeiziTopicActivity"
            android:label="@string/app_dbmeizi"
            android:theme="@style/SwipeBackTheme"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>

        <service
            android:name="gov.anzong.mediaplayer.PlayerService"
            android:process=":vitamio" />
    </application>

</manifest>